/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Limit how small cube will get */
@media (height <= 800px) {
  :root {
    --title-container-height: 400px;
  }
}

@media (height > 800px) {
  :root {
    --title-container-height: 50svh;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: lightseagreen;
  text-decoration: none;
}

a:hover {
  color: darkcyan;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

h3 {
  font-size: 1.5em;
}

body {
  border: 1px solid purple;
  display: flex;
  width: 100%;
  justify-content: center;
  perspective: 2000px;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-color: whitesmoke;
}

.container {
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 800px;
  margin: 0 2em 2em 2em;
}

.title-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--title-container-height);
  width: 100%;
}

.cube-container {
  /* border: 1px solid red; */
  height: calc(0.5 * var(--title-container-height));
  aspect-ratio: 1/1;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-cube 500ms forwards;
  animation-delay: 500ms;
  scale: 100%;
}

.face {
  position: absolute;
  border: 2px solid black;
  height: calc(0.5 * var(--title-container-height));
  width: calc(0.5 * var(--title-container-height));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.05 * var(--title-container-height));
  animation: fede-in-side 1s forwards;
  text-align: center;
  padding: 1em;
}

.face-front {
  /* background: red; */
  transform: rotateY(0deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

.face-left {
  /* background: blue; */
  transform: rotateY(-90deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

.face-top {
  /* background: cyan; */
  transform: rotateX(90deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

.face-back {
  /* background: green; */
  border: 0px;
  box-shadow: 0px 0px 20px 1px rgb(225, 225, 225) inset;
  transform: rotateY(180deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

.face-right {
  /* background: yellow; */
  border: 0px;
  box-shadow: 0px 0px 20px 1px rgb(225, 225, 225) inset;
  transform: rotateY(90deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

.face-bottom {
  /* background: magenta; */
  border: 0px;
  box-shadow: 0px 0px 20px 1px rgb(225, 225, 225) inset;
  transform: rotateX(-90deg)
    translateZ(calc(0.25 * var(--title-container-height)));
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg);
  }
}

@keyframes fede-in-side {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.profile {
  /* border: 1px solid purple; */
  box-shadow: 1px 1px 4px 1px lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: white;
}

.profile-photo-container {
  border: 1px solid black;
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo {
  height: 100%;
  width: auto;
  margin-left: -70px;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 200px; */
  gap: 1em;
}

.filters-container {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.filters-types-container {
  /* border: 1px solid orange; */
}

.filters-tags-container {
  /* border: 1px solid orange; */
}

.featured-posts-container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.featured-post {
  border: 1px solid black;
  display: flex;
  width: 143px;
  height: 50px;
  /* border-radius: 25px; */
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.logo {
  padding: 0.75em;
}

.btn-featured {
  border: 0;
  /* background-color: red; */
  cursor: pointer;
}

.btn-featured:hover {
  background-color: white;
  box-shadow: 0px 0px 2px 1px darkgray;
}

.featured-post-image {
  width: 100%;
}

.dev-blog-container {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.post {
  /* border: 1px solid lightgray; */
  box-shadow: 1px 1px 4px 1px lightgray;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  background-color: white;
}

.post-image {
  /* border: 1px solid black; */
  width: 100%;
}

.dev-blog-body {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dev-blog-sub-header {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dev-blog-type {
  font-weight: 300;
  font-style: italic;
}

.dev-blog-tags {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: end;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  height: 100svh;
  text-align: center;
}

.error-image {
  width: 100%;
}

.btn-type {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: lightseagreen;
  cursor: pointer;
  font-size: 1em;
  font-style: italic;
}

.btn-type:hover {
  color: darkcyan;
}

.btn-type-selected {
  background-color: gainsboro;
}

.btn-tag {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: lightseagreen;
  cursor: pointer;
  font-size: 1em;
}

.btn-tag:hover {
  color: darkcyan;
}

.btn-tag-selected {
  background-color: gainsboro;
}
